<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <header style="height: 70px; background-color: lightblue; text-align: center; vertical-align: middle;" th:fragment="header">
        <a th:href="@{/admin}">
            <img th:src="@{/img/Tele2_logo_black.png}" height="70">
        </a>
    </header>
</body>

</html>